@media (min-width: 1200px) {
.container {
    max-width: 970px;
}
}
@media (min-width:400px){
.global-search {
padding: 20px 0;
text-align:center;
}
body {
padding-top: 5%;
padding-bottom: 5px;
}
.global-search {
text-align:center;
padding:10px;
}
.global-search .form-control {
width:100%;
}
.global-search * {
/*display:inline-block;*/
margin-bottom:0;
}
}
.topcorner{
position:absolute;
top:2%;
right:2%;
}
.search_bar{
  display: inline;
}
.search_form{
  width: 100%

}
.btn{
background-color: #4285F4;
border: none
margin: 10px;
font-size: 20px;
}
.step-links a{
color: #4285F4;
}
.search_bar{
  display:inline-block;
  vertical-align: middle;
}
.result_item{
  width: 80%;
  margin-top: 10px;
  padding: 10px;
  float: left;
  font-size: 18px !important;
  background-color: #f2f2f2;
  /*border-bottom: dashed;
  border-width: thin;*/
}
.result_item:hover{
  background-color: #e0e0e0;
}
.expand_result_button{
  float: right;
  width: 20%;
  border: none;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  margin-top: 10px;
  background-color: #f2f2f2;
}
.expand_result_button:hover{
  background-color: #e0e0e0;
}
.result_info_text{
  width: 100%;
  display: none;
  text-align: left;
  margin-bottom: 5px;
}
.result_item_container{
  padding: 5px;
  text-align: left;
}
.results_likes{
  float: left;
  display: inherit;
  width: 100%;
}
.results_comment{
  float: left;
  display: inherit;
  width: 100%;
}
.results_length{
  float: left;
  display: inherit;
  width: 100%;
}
.bottom-info-bar{
  bottom:0;
}
.logo{
  display:block;
  margin: 0 auto;
  margin-top: -10px auto;
  text-align:center;
  align-self: center;
  vertical-align: baseline;
  height:300px;
}
.about_info{
  display: block;
  margin: 100px;
  font-family: 'Assistant';
}
#subtitle{
  display: block;
  text-align: center;
  padding: 20px;
  padding-bottom: 10px;
  font-size: 25px;
  font-family: sans-serif;
}
#input_article{
  width:120px;
}
#input_video{
  display:inline-block;
  width:120px;
}
#search_bar_text{
  font-size: 20px !important;
  width: 100%
}
#output_message_title{
  font-size: 25px;
  border-bottom: solid;
  border-width: thin;
}
#results_area{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}
footer {
  position: static;
  left: 0px;
  bottom: 0px;
  width: 100%;
  text-align: center;
  font-size: 10px;
}
input[type=text]{
  width: 20%;
  padding: 10px 8px;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  outline: none;
}
input[type=text]:focus{
  border: 2px solid grey;
}
select{
  padding: 10px 8px;
  outline: none;
  background-color: white;
  border: none;
}
select:focus{
  border: 2px solid grey;
}
option{
  font-size:15px;
  outline: none;
}
option:focus{
  outline: none;
}
