@media (min-width: 1200px) {
.container {
    max-width: 100%;
}
}
@media (min-width:400px){
.global-search {
padding: 20px 0;
text-align:center;
}
body {
padding-top: 5%;
padding-bottom: 5px;
}
.global-search {
text-align:center;
padding:10px;
}
.global-search .form-control {
width:100%;
}
.global-search * {
/*display:inline-block;*/
margin-bottom:0;
}
}
.topcorner-left{
position:absolute;
top:3%;
left:3%;
font-family: 'Assistant';
font-size: 25px;
text-decoration: none;
text-color: black;
}
.topcorner-right{
position: absolute;
top:3%;
right:3%;
font-family: 'Assistant';
font-size: 25px;
text-decoration: none;
text-color: black;
margin-left: 20px;
}
.bottomcorner{
position:relative;
bottom:0;
left:0;
font-family: 'Assistant';
font-size: 10px;
text-decoration: none;
text-color: black;
text-align: center;
}
.search_bar{
  display: inline;
}
.search_form{
  width: 100%

}
.btn{
background-color: #4285F4;
border: none
margin: 10px;
font-size: 20px;
}
.step-links a{
color: #4285F4;
}
.search_bar{
  display:inline-block;
  vertical-align: middle;
}
.result_item{
  width: 80%;
  margin-top: 10px;
  padding: 10px;
  float: left;
  font-size: 20px !important;
  background-color: #f2f2f2;
  font-family: 'Assistant';
  text-decoration: none;
  /*border-bottom: dashed;
  border-width: thin;*/
}
.result_item:hover{
  background-color: #e0e0e0;
}
.expand_result_button{
  float: right;
  width: 20%;
  border: none;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  margin-top: 10px;
  background-color: #f2f2f2;
}
.expand_result_button:hover{
  background-color: #e0e0e0;
}
.result_info_text{
  width: 100%;
  display: none;
  text-align: left;
  margin-bottom: 5px;
}
.result_item_container{
  padding: 5px;
  text-align: left;
}
.results_likes{
  float: left;
  display: inherit;
  width: 100%;
}
.results_comment{
  float: left;
  display: inherit;
  width: 100%;
}
.results_length{
  float: left;
  display: inherit;
  width: 100%;
}
.similarity_symbol{
  float: left;
  display: inherit;
  width: 100%;
}
.bottom-info-bar{
  bottom:0;
}
.logo{
  display:block;
  margin: 0 auto;
  margin-top: -10px auto;
  text-align:center;
  align-self: center;
  vertical-align: baseline;
  height:270px;
}
.about_info{
  display: block;
  margin: 100px;
  font-family: 'Assistant';
}
#medium_link{
  height: 40px;
}
#youtube_link{
  height: 40px;
  margin-left: 10px;
}
#subtitle{
  display: block;
  text-align: center;
  padding: 20px;
  padding-bottom: 10px;
  font-size: 25px;
  font-family: 'Assistant';
}
#input_article{
  width:120px;
}
#input_video{
  display:inline-block;
  width:120px;
}
#search_bar_text{
  font-size: 20px !important;
  width: 100%
}
#output_message_title{
  font-size: 25px;
  border-bottom: solid;
  border-width: thin;
  font-family: 'Assistant'
}
#results_area{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#keywords_searched{
  text-align:left !important;
  font-size: 20px;
  font-family: 'Assistant'
}
a:visited{
  text-decoration: none;
}
.footer {
  /*position: fixed;
  top: 10px;
  bottom: 10px;
  height: 20px;
  width: 100%;
  text-align: center;
  font-size: 10px;
  right: 50%;
  font-family: 'Assistant';
  display: block;*/
  left:0;
  bottom:0;
  width:100%
}
input[type=text]{
  width: 15%;
  padding: 10px 8px;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  outline: none;
  font-family: 'Assistant';
}
input[type=text]:focus{
  border: 2px solid grey;
}
input[type=number]{
  width: 20%;
  padding: 10px 8px;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  outline: none;
  font-family: 'Assistant'
}
input[type=number]:focus{
  border: 2px solid grey;
}
select{
  padding: 10px 8px;
  outline: none;
  background-color: white;
  border: none;
  font-family: 'Assistant'
}
select:focus{
  border: 2px solid grey;
}
option{
  font-size:15px;
  outline: none;
}
option:focus{
  outline: none;
}
p{
  font-family: 'Assistant';
}
