<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Assistant">
  </head>
  <header>
    <div class="topcorner-left">
      <a href="/">Home |</a>
      <a href="/about"> About</a>
      <a href="http://media-flip1.herokuapp.com/" target="_blank"> | v1 |</a>
      <a href="http://media-flip2.herokuapp.com/" target="_blank"> v2</a>
    </div>
  </header>
    <body>
      <div>
        <img src="/static/media-flip-logo-hw2.png" class="logo">
      </div>
      <div class="about_info">
        <h1> Hey! Where are you going?</h1>
        <h3> This is a 404 error - the page you're trying to find does not exist!</h3>
      </div>
    </body>
    <footer>
        Student Names: Anjelika Lynne Amog (asa242), Angela Liu (axl4), Emily Tentarelli (et356), Michelle O'Bryan (mo345), Sourabh Chakraborty (sc2356)
    </footer>
</html>
