<html>

<head>
    <title>{{name}}</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
    <script src="/static/search.js"></script>
</head>

<body>
    <!--<div class="form-inline global-search">-->
    <div>
        <img src="/static/app-logo1.png" id="logo">
    </div>
    <form class="form-inline global-search">
        <div class="form-group" id="search_bar_text">
            Enter Media to Flip!
            <!--<input type="radio" name ="input_type" class = "search_bar" value = "article">Medium Article<br>
            <input type="radio" name ="input_type" class = "search_bar" value = "video">YouTube Video<br>-->
            <input type="text" name="input_url" class="search_bar" placeholder="Enter a URL">
            <select name="input_type">
              <option value="article">Medium Article</option>
              <option value="video">YouTube Video</option>
            </select>
        </div>
        <button type="submit" class="btn btn-info"> Search </button>
    </form>
    <form class="form-inline global-search">
        <div id="results_area">
            {% if data %}
            <p id="output_message_title">{{output_message}}</p>
            {% for d in data %}
            <br>
            <div class = result_item_container>
              <a class="result_item" href="{{d[1]}}" target="_blank">{{d[0]}}</a>
              <button type="button" class="expand_result_button" onclick="toggle_info_box(this)"> Expand </button>
              <div class = "result_info_text">
                <p class="results_likes"><b>Number of claps / likes:</b> {{d[3]}}</p>
                {% if d[2] != "" %}
                <br>
                <p class="results_comment"><b>Top comment:</b> {{d[2]}}</p>
                {% endif %}
              </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </form>
</body>

<footer>
    Student Names: {{netid}}
</footer>

</html>
