<html>

<head>
    <title>{{name}}</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Assistant">
    <script src="/static/search.js"></script>
</head>
<header>
    <div class="topcorner-left">
      <a href="/">Home |</a>
      <a href="/about"> About</a>
      <a href="http://media-flip1.herokuapp.com/" target="_blank"> | v1 |</a>
      <a href="http://media-flip2.herokuapp.com/" target="_blank"> v2</a>
    </div>
    <div class="topcorner-right">
      <a href="https://medium.com/"><img src="/static/medium_icon.png" id="medium_link" target="_blank"></a>
      <a href=="https://www.youtube.com/"><img src="/static/youtibe_icon.png" id="youtube_link"target="_blank"></a>
    </div>
</header>

<body>
    <!--<div class="form-inline global-search">-->
    <div>
        <img src="/static/app-logo1.png" class="logo">
    </div>
    <div>
        <p id="subtitle"><em>Find articles based on videos you like... or vice-versa!</em></p>
    </div>
    <div class="container">
    <form class="form-inline global-search">
        <div class="form-group" id="search_bar_text">
            <!---Enter Media to Flip!-->
            <input type="text" name="input_url" class="search_bar" placeholder="Enter a URL">
            <select name="input_type">
                <option value="video">YouTube Video to Medium Article</option>
                <option value="article">Medium Article to YouTube Video</option>
            </select>
            <input type="text" name="input_keywords" class="search_bar" placeholder="Enter keywords">
            <input type="number" name="max_time" class="search_bar" placeholder="Max read/watch time" min="0">
        </div>
        <button type="submit" class="btn btn-info"> Search </button>
    </form>
    <form class="form-inline global-search">
        <div id="results_area">
            {% if data %}
            <p id="output_message_title">{{output_message}}</p>
            {% if query_keywords != "" %}
            <p id="keywords_searched">Keywords: {{query_keywords}}</p>
            {% endif %}
            <br>
            {% for d in data %}
            <div class=result_item_container>
                <a class="result_item" href="{{d[1]}}" target="_blank">{{d[0]}}</a>
                <button type="button" class="expand_result_button" onclick="toggle_info_box(this)"> &plus; </button>
                <div class="result_info_text">
                    <p class="results_likes"><b>Number of claps / likes:</b> {{d[3]}}</p>
                    {% if d[2] != "" %}
                    <br>
                    <p class="results_comment"><b>Tags:</b> {{d[2]}}</p>
                    {% endif %}
                    {% if d[4] and d[4] != 0 %}
                    <br>
                    <p class="results_length"><b>Length:</b> {{d[4]}} minutes</p>
                    {% endif %}
                    <p class="similarity_symbol"><b>Similarity scores:</b> cosine: {{d[5][0]}} | keyword: {{d[5][1]}} | comment: {{d[5][2]}} | sentiment: {{d[5][3]}} | likes: {{d[5][4]}}</p>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="spacer"></div>
    </form>
  </div>
    <div class="bottomcorner">
      Student Names: {{netid}}
    </div>
</body>

</html>
